<a href="https://colab.research.google.com/github/kanaboshi/datascience/blob/main/%E7%A5%9E%E6%88%B8%E5%B8%82%E3%83%87%E3%83%BC%E3%82%BF%E3%82%B5%E3%82%A4%E3%82%A8%E3%83%B3%E3%82%B9%E3%82%B3%E3%83%B3%E3%82%AF%E3%83%BC%E3%83%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 初期設定コマンド

In [ ]:
"""
初期設定コマンド
"""
%matplotlib inline
!pip install pydrive
from matplotlib.font_manager import FontProperties
import pandas as pd
import numpy as np
import scipy as sc
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import data_table
import pydrive
import sys, os
import plotly.io as pio
plt.rcParams['font.family'] = 'IPAPGothic'
from matplotlib.ticker import ScalarFormatter
import statsmodels.api as sm
from pandas.plotting import autocorrelation_plot

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pydrive in /usr/local/lib/python3.7/dist-packages (1.3.1)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.7/dist-packages (from pydrive) (3.13)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.7/dist-packages (from pydrive) (1.12.11)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pydrive) (4.1.3)
Requirement already satisfied: google-auth<3dev,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->pydrive) (1.35.0)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->pydrive) (3.0.1)
Requirement already satisfied: six<2dev,>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->pydrive) (1.15.0)
Requirement already satisfied: google-api-core<3dev,>=1.21.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->pydrive) (1.31.6)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->pydrive) (0.17.4)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->pydrive) (0.0.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client>=1.2->pydrive) (57.4.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client>=1.2->pydrive) (1.56.4)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client>=1.2->pydrive) (2.23.0)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client>=1.2->pydrive) (21.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client>=1.2->pydrive) (2022.1)
Requirement already satisfied: protobuf<4.0.0dev,>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<3dev,>=1.21.0->google-api-python-client>=1.2->pydrive) (3.17.3)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3dev,>=1.16.0->google-api-python-client>=1.2->pydrive) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3dev,>=1.16.0->google-api-python-client>=1.2->pydrive) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3dev,>=1.16.0->google-api-python-client>=1.2->pydrive) (0.2.8)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from oauth2client>=4.0.0->pydrive) (0.4.8)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<3dev,>=1.21.0->google-api-python-client>=1.2->pydrive) (3.0.9)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<3dev,>=1.21.0->google-api-python-client>=1.2->pydrive) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<3dev,>=1.21.0->google-api-python-client>=1.2->pydrive) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<3dev,>=1.21.0->google-api-python-client>=1.2->pydrive) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<3dev,>=1.21.0->google-api-python-client>=1.2->pydrive) (2022.6.15)

In [ ]:
"""
日本語対応フォント導入
"""
!apt-get -y install fonts-ipafont-gothic 
!rm -r /root/.cache/matplotlib
#ランタイムの再起動
print("Done")

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  fonts-ipafont-mincho
The following NEW packages will be installed:
  fonts-ipafont-gothic fonts-ipafont-mincho
0 upgraded, 2 newly installed, 0 to remove and 19 not upgraded.
Need to get 8,251 kB of archives.
After this operation, 28.7 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-ipafont-gothic all 00303-18ubuntu1 [3,526 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-ipafont-mincho all 00303-18ubuntu1 [4,725 kB]
Fetched 8,251 kB in 0s (20.3 MB/s)
Selecting previously unselected package fonts-ipafont-gothic.
(Reading database ... 155680 files and directories currently installed.)
Preparing to unpack .../fonts-ipafont-gothic_00303-18ubuntu1_all.deb ...
Unpacking fonts-ipafont-gothic (00303-18ubuntu1) ...
Selecting previously unselected package fonts-ipafont-mincho.
Preparing to unpack .../fonts-ipafont-mincho_00303-18ubuntu1_all.deb ...
Unpacking fonts-ipafont-mincho (00303-18ubuntu1) ...
Setting up fonts-ipafont-gothic (00303-18ubuntu1) ...
update-alternatives: using /usr/share/fonts/opentype/ipafont-gothic/ipag.ttf to provide /usr/share/fonts/truetype/fonts-japanese-gothic.ttf (fonts-japanese-gothic.ttf) in auto mode
Setting up fonts-ipafont-mincho (00303-18ubuntu1) ...
update-alternatives: using /usr/share/fonts/opentype/ipafont-mincho/ipam.ttf to provide /usr/share/fonts/truetype/fonts-japanese-mincho.ttf (fonts-japanese-mincho.ttf) in auto mode
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Done

In [ ]:
#ドライブからファイルを読み込むためのコード
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#データファイルの読み込み　ここのURLにはてきぎ
CMDS_2020=pd.read_csv("/content/drive/Shareddrives/Submarine　DS/CSV/2020年町データ.csv",encoding="shift jis")
CMDS_2015=pd.read_csv("/content/drive/Shareddrives/Submarine　DS/CSV/2015年町データ.csv",encoding="shift jis")

## 以下試行錯誤中

In [ ]:
col=list(CMDS_2015.columns.values)
print(col)
col.pop(0)
col.pop(0)
print(col)

['区名', '町コード', '男性人口', '女性人口', '未就学児人口', '小中学校人口', '高等学校人口', '大学等人口', '農業従事者数', '製造業従事者数', '卸売業従事者数', '医療従事者数', '情報通信業従事者数', '運輸業従事者数', '教育関係従事者数', '就業者数', '年金受給者数', '世帯平均年収', '世帯平均居住年数', '世帯数', '飲食店数', '製造業事業所数', '販売業店数']
['男性人口', '女性人口', '未就学児人口', '小中学校人口', '高等学校人口', '大学等人口', '農業従事者数', '製造業従事者数', '卸売業従事者数', '医療従事者数', '情報通信業従事者数', '運輸業従事者数', '教育関係従事者数', '就業者数', '年金受給者数', '世帯平均年収', '世帯平均居住年数', '世帯数', '飲食店数', '製造業事業所数', '販売業店数']

In [ ]:
data_VAC_3=pd.DataFrame()
data_VAC_3["date"]=data_VAC["date"]
data_VAC_3["sum"]=data_VAC_2["sum"]
data_VAC_3.at[data_VAC_3.index[0],"All sum"]=data_VAC_3.at[data_VAC_3.index[0], 'sum']
def XXXXX(a):
  data_VAC_3.at[data_VAC_3.index[a+1],"All sum"]=data_VAC_3.at[data_VAC_3.index[a],"All sum"]+data_VAC_3.at[data_VAC_3.index[a+1],"sum"]

for i in range(len(data_VAC_3)-1):
  XXXXX(i)

In [ ]:

CMDS_2015_sum=[0,0]
for i in col:
  print(i)
  CMDS_2015_sum.append(CMDS_2015[i].sum())
  print(CMDS_2015_sum)


print(CMDS_2015_sum)

df_01=pd.DataFrame(CMDS_2015_sum)
#df_new = CMDS_2015.append([CMDS_2015_sum], ignore_index=)


#CMDS_2015.iloc["sum"]=CMDS_2015_sum

男性人口
[0, 0, 724808]
女性人口
[0, 0, 724808, 812458]
未就学児人口
[0, 0, 724808, 812458, 74709]
小中学校人口
[0, 0, 724808, 812458, 74709, 119400]
高等学校人口
[0, 0, 724808, 812458, 74709, 119400, 42955]
大学等人口
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552]
農業従事者数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015]
製造業従事者数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336]
卸売業従事者数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911]
医療従事者数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173]
情報通信業従事者数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492]
運輸業従事者数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492, 42723]
教育関係従事者数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492, 42723, 56898]
就業者数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492, 42723, 56898, 626502]
年金受給者数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492, 42723, 56898, 626502, 412849]
世帯平均年収
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492, 42723, 56898, 626502, 412849, 3539132972]
世帯平均居住年数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492, 42723, 56898, 626502, 412849, 3539132972, 12322]
世帯数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492, 42723, 56898, 626502, 412849, 3539132972, 12322, 737300]
飲食店数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492, 42723, 56898, 626502, 412849, 3539132972, 12322, 737300, 12386]
製造業事業所数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492, 42723, 56898, 626502, 412849, 3539132972, 12322, 737300, 12386, 997]
販売業店数
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492, 42723, 56898, 626502, 412849, 3539132972, 12322, 737300, 12386, 997, 889]
[0, 0, 724808, 812458, 74709, 119400, 42955, 68552, 12015, 93336, 155911, 82173, 14492, 42723, 56898, 626502, 412849, 3539132972, 12322, 737300, 12386, 997, 889]

In [ ]:
df_01

             0
0            0
1            0
2       724808
3       812458
4        74709
5       119400
6        42955
7        68552
8        12015
9        93336
10      155911
11       82173
12       14492
13       42723
14       56898
15      626502
16      412849
17  3539132972
18       12322
19      737300
20       12386
21         997
22         889

In [ ]:
#2015年データが読み込めているかの確認
CMDS_2015

,区名,町コード,男性人口,女性人口,未就学児人口,小中学校人口,高等学校人口,大学等人口,農業従事者数,製造業従事者数,...,運輸業従事者数,教育関係従事者数,就業者数,年金受給者数,世帯平均年収,世帯平均居住年数,世帯数,飲食店数,製造業事業所数,販売業店数
0,A区,101001,"3,515","3,573",412,619,237,358,14,391,...,198,339,"2,967","1,757","5,446,510",14,"3,291",24,5,2
1,A区,101002,"1,712","2,394",236,374,139,204,9,275,...,133,202,"1,768","1,053","5,781,109",15,"2,078",13,3,4
2,A区,101003,"1,458","1,430",169,248,84,149,6,199,...,93,123,"1,235",655,"4,614,576",14,"1,441",10,1,2
3,A区,101004,"5,142","5,008",517,810,314,455,20,655,...,294,476,"4,365","2,213","8,002,609",15,"4,607",28,9,1
4,A区,101005,"1,421","1,738",164,245,92,143,6,209,...,81,142,"1,264",766,"7,590,450",22,"1,451",2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,I区,111118,987,"1,124",99,178,72,108,60,165,...,52,81,958,512,"4,723,654",20,915,2,0,0
750,I区,111121,125,138,11,22,9,12,6,23,...,6,9,107,65,"6,500,074",24,143,6,1,0
751,I区,111123,88,86,8,15,5,9,3,11,...,4,6,69,45,"2,588,054",29,63,2,0,0
752,I区,111125,81,129,9,18,6,11,6,17,...,5,9,90,53,"5,828,836",19,113,3,0,0
753,I区,111126,297,305,25,50,18,27,14,50,...,15,20,235,148,"2,948,521",19,316,9,3,2

Warning: Total number of columns (23) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
#2020年のものも同様に
CMDS_2020

,区名,町コード,男性人口,女性人口,未就学児人口,小中学校人口,高等学校人口,大学等人口,農業従事者数,製造業従事者数,...,運輸業従事者数,教育関係従事者数,就業者数,年金受給者数,世帯平均年収,世帯平均居住年数,世帯数,飲食店数,製造業事業所数,販売業店数
0,A区,101001,"3,408","3,606",345,594,220,355,9,458,...,210,335,"3,009","1,696","5,239,419",15,"3,258",23,5,2
1,A区,101002,"1,991","2,231",203,373,133,215,6,280,...,125,206,"1,762","1,077","6,281,338",16,"2,093",13,3,4
2,A区,101003,"1,471","1,435",140,248,84,153,20,203,...,82,132,"1,211",671,"4,436,426",16,"1,404",10,1,2
3,A区,101004,"4,583","4,803",453,788,295,459,6,672,...,283,445,"4,265","2,229","8,121,372",16,"4,508",28,10,1
4,A区,101005,"1,360","1,685",147,245,91,147,12,214,...,85,137,"1,249",736,"8,198,963",20,"1,441",2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,I区,111118,"1,020","1,089",86,178,67,107,6,199,...,51,82,932,529,"5,015,374",23,900,2,0,0
750,I区,111121,127,131,10,21,9,12,3,25,...,6,9,104,64,"6,146,955",24,138,6,1,0
751,I区,111123,86,82,7,14,5,9,6,14,...,4,6,69,44,"2,548,054",28,62,2,0,0
752,I区,111125,92,120,8,18,6,11,14,18,...,5,8,88,54,"5,631,793",21,112,3,0,0
753,I区,111126,278,284,22,50,17,29,0,49,...,14,21,239,143,"2,767,459",21,320,9,3,2

Warning: Total number of columns (23) exceeds max_columns (20) limiting to first (20) columns.

# 単体グラフ描画

In [ ]:
"""
2015 左から順にヒストグラム描画
"""


#これより下から統計が始まる